.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 10rem;
  align-items: baseline;

  &__list {
    background-color: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5rem;
    width: 200px;
    height: 200px;

    margin-bottom: 25px;
    box-shadow: 4px 4px 4px #ddd;
    -webkit-animation-name: "example";
    -webkit-animation-duration: 1s;

    @keyframes example {
      from {
        background-color: rgb(179, 185, 185);
      }
      to {
        background-color: beige;
      }
    }

    &__todo {
      font-size: 1.5rem;
      width: 120px;
      font-weight: 400;
    }
    &__reason {
      font-size: 1rem;
      margin-bottom: 20px;
      font-weight: 500;
    }
    &__date {
      font-weight: 500;
    }
    button {
      background-color: rgb(29, 159, 156);
      margin-bottom: 10px;
    }
  }
}
